{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="text-align: center;">
    <h1>Terrain Statistics by Price</h1>
    <p>200.00 Price Count: {{ count200 }}</p>
    <p>110.00 Price Count: {{ count110 }}</p>
    <p>100.00 Price Count: {{ count100 }}</p>
    <canvas id="priceChart" width="1000" height="500"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let ctx = document.getElementById('priceChart').getContext('2d');
    let priceChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['€200', '€110', '€100'],
            datasets: [{
                label: 'Number of Terrains',
                data: [{{ count200 }}, {{ count110 }}, {{ count100 }}],
                backgroundColor: ['#FF5733', '#FFBD33', '#DBFF33']
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });
</script>
{% endblock %}
