{% extends 'admin.html.twig' %}
{% block title %}Edit Equipe{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.niveau) }}
        {{ form_row(form.israndom) }}
        {{ form_row(form.rank) }}
        {{ form_row(form.idcateg) }}
        <h3>Utilisateurs</h3>
        {{ form_row(form.utilisateurs) }} 
        <button type="submit">Update</button>
    {{ form_end(form) }}
{% endblock %}
