{% extends 'equipe/base.html.twig' %}

{% block title %}Match{% endblock %}



{% block body %}
    <h1>Match</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMatc</th>
                <td>{{ matc.idMatc }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ matc.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ matc.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ matc.date ? matc.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ matc.heure ? matc.heure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ matc.description }}</td>
            </tr>
            <tr>
                <th>Equipe 1</th>
                <td>{{ matc.equipe1 }}</td>
            </tr>
            <tr>
                <th>Equipe 2</th>
                <td>{{ matc.equipe2 }}</td>
            </tr>
            <tr>
                <th>Arbitre</th>
                <td>{{ matc.arbitre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_matc_index') }}" class="btn btn-primary btn-details">back to list</a>
<a href="{{ path('app_pdf', {'idMatc': matc.idMatc}) }}" class="btn btn-primary">Export PDF</a>
    <a href="{{ path('app_matc_edit', {'idMatc': matc.idMatc}) }}" class="btn btn-primary btn-modifier">Modifier</a>
    {{ include('matc/_delete_form.html.twig') }}

{% endblock %}
